doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    title Email Verified
    link(
      href="/public/css/bootstrap.min.css",
      rel="stylesheet"
    )
    link(
      href="/public/css/font-awesome.all.min.css",
      rel="stylesheet"
    )
    link(
      href="/public/css/success-style.css",
      rel="stylesheet"
    )
  body
    div
      .icon
        i.fa.fa-check(aria-hidden="true")
      p Email verified
      p.text Your email address was successfully verified.
      a(href=homeUrl)
        | Go to 
        i.fa.fa-home(aria-hidden="true")
